<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title> FocaWebsite </title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap">
  <link rel="stylesheet" href="/css/landing-page.css">
  <link rel="stylesheet" href="/css/commons.css">
</head>

<body>
  <div id="container">
    <div id="landing-page">
      
      <header>
        <strong> FocaWebsite </strong>
        <p> Hehe </p>
      </header>
      <main>
        <h1> Programe com a gente </h1>

        <section class="start">
          <p> Venha se divertir fazendo o que gosta! </p>
          <a href="/projects">
          </a>
        </section>
      </main>
    </div>
  </div>
</body>

</html>