#landing-page {
  background: linear-gradient(323.43deg, #11a752 0%, #0ce26c 100%);
  min-height: 100vh;
  
  text-align: center;
  display: flex;
}

#container {
  margin: auto;
  width: min(90%, 112rem);
}

h1, .start p{
  height: 16vh;
}

main h1 {
  font-size: clamp(4rem, 8vh, 8.4rem);
}

.start a {
  width: 8rem;
  height: 8rem;
  background: #096d36;

  border: none;
  border-radius: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.start a:hover {
  background: #0a9248;
}

@media (min-width: 760px)
{
  #container {
    padding: 5rem 2rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .start p, h1 {
    height: initial;
    text-align: initial;
  }

  .start {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .start p {
    font-size: 2.4rem;
    line-height: 1.5;
    width: clamp(20rem, 20vw, 30rem);
  }

  .start a {
    margin: initial;
  }
  
  main h1 {
    font-weight: bold;
    line-height: .88;

    margin: clamp(10%, 9vh, 12%) 0 4rem;
    width: min(300px, 80%);
  }
}